body {
  font-family: "Open Sans", sans-serif;
}

.primary-btn:hover{
  background-color: #F3F6F9 !important;
}

.search{
  border: none !important;
}

.MuiFilledInput-root{
  background:#FFFFFF !important
}
